@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.hero {
  height: 50vh;
}
.hero h1 {
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 1rem;
}
.hero p {
  font-family: inherit;
}

.main-shop .price {
  font-family: inherit;
  font-size: 25px;
  font-weight: 700;
}
